.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.9);
}

.modal {
  position: fixed;
  top: 1rem;
  left: 10%;
  width: 80%;
  z-index: 100;
  overflow: hidden;
}

.header {
  padding: 1rem;
}

.header h2 {
  margin: 0;
  color: #7272AB;
}

.content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input button {
  height: 2rem;
  margin: 2rem 0;
  background-color: #7272AB;
  color: white;
  padding: 0.5em;
}

.input button:hover {
  background-color: #700548;
}

.button {
  height: 2rem;
  width: 4rem;
  background-color: #7272AB;
  color: white;
  padding: 0.5em;
}

.button:hover {
  background-color: #700548;
}

.paragraph {
  padding: 0.7rem
}