.container {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 650px) {
    .container {
        flex-direction: column;
    }

    .item-style {
        width: 100% !important;
    }
}

.movie {
    flex-basis: 30%;
    padding: 20px;
    border: 1px solid #003559;
    color: #B9D6F2;
    flex-grow: 1;
    margin: 10px 10px;
    border-radius: 10%;
    flex: 0 0 31%;
}

.movie:hover {
    color: #7272AB;
    background-color: #700548;
}

.title-style {
    margin: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7272AB;
}

.input {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input input {
    width: 80%;
    height: 2rem;
    margin: 2rem 0;
}

.input button {
    height: 2rem;
    margin: 2rem 0;
    background-color: #7272AB;
    color: white;
    padding: 0.5em;
}

.input button:hover {
    background-color: #700548;
}

