.container {
    display: flex;
    flex-wrap: wrap;
}


@media (max-width: 650px) {
    .container {
        flex-direction: column;
    }

    .item-style {
        width: 100% !important;
    }
}

.item-style {
    flex-basis: 30%;
    background-color: #006DAA;
    padding: 50px;
    border: 1px solid #003559;
    color: #B9D6F2;
    flex-grow: 1;
    margin: 10px 10px;
    border-radius: 10%;
}

.title-style {
    margin: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #003559;
}